:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --colour-black: #000000;
    --colour-white: #FFFFFF;
    --colour-main: #212121;
    --colour-contacts: #757575;
    --accent-colour:#2196F3;
    --background-colour: #F5F4FA;
}
